* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
}
h3 {
  font-size: 1rem;
}
body {
  width: 200vw;
  height: 100vh;
}
/* Setting background image on the body  */
img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-image {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

/* outer and inner container for the form */

.form {
  width: 30vw;
  height: 60vh;
  background-color: rgba(20, 20, 20, 0.8);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#inner {
  width: 80%;
  height: 80%;
  position: relative;
  transition: 1s;
}

/*Top section of the window(logo and hamburger menu)*/

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#microsoft {
  display: flex;
  flex-direction: row;
  transition: 1s;
}

/* Microsofs logo  */

.microsoft-icons {
  display: grid;
  grid-template-columns: 1rem 1rem;
  row-gap: 0.24rem;
  column-gap: 0.24rem;
}
.red {
  background-color: rgb(246, 83, 20);
}
.green {
  background-color: rgb(124, 187, 0);
}
.blue {
  background-color: rgb(0, 161, 241);
}
.yellow {
  background-color: rgb(255, 187, 0);
}
.microsoft-word {
  margin-left: 0.5rem;
  color: rgb(200, 200, 200);
}

/* Hamburger menu top-right */

#menu {
  background: transparent;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20%;
  z-index: 2;
}
/* overlay menu onclick */
#overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.7);
  opacity: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 2rem;
  border-radius: 2%;
  z-index: 1;
  transition: 1s;
}
.list {
  color: rgba(255, 86, 19, 0.555);
  list-style: none;
  line-height: 3.5rem;
  text-align: center;
  font-family: serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}
.list li {
  padding: 0.3rem;
  transition: 1s;
}

.list li:hover {
  color: rgba(250, 127, 78, 0.555);
  cursor: pointer;
  border-radius: 4%;
  font-size: 1.7rem;
}

#lineone,
#linesec {
  width: 2rem;
  height: 0.18rem;
  background-color: rgb(200, 200, 200);
  border-radius: 20%;
  transition: 1s;
}
.dropdownMenu {
  display: inline-block;
  position: absolute;
  min-width: 130px;
}

#menu:hover #lineone {
  transform: rotate(-45deg) translate(-7px, 7px);
  box-shadow: 0 8px rgba(255, 86, 19, 0.555);
  background-color: rgba(255, 86, 19, 0.555);
  width: 1.5rem;
  height: 0.12rem;
}
#menu:hover #linesec {
  transform: rotate(45deg) translate(-7px, 1px);
  box-shadow: 0 8px rgba(255, 86, 19, 0.555);
  background-color: rgba(255, 86, 19, 0.555);
  width: 1.5rem;
  height: 0.12rem;
}

/* Saparation line*/

.line {
  width: 100%;
  height: 0.12rem;
  background-color: rgb(200, 200, 200);
  margin-top: 1rem;
}

/* User data field  */
#dataField {
  color: rgb(200, 200, 200);
  transition: 1s;
}
#dataField * {
  margin-top: 2rem;
  color: rgb(200, 200, 200);
  transition: 1s;
}
input {
  height: 2rem;
  font-size: inherit;
  text-indent: 0.5rem;
  background-color: rgba(20, 20, 20, 0.8);
  border: none;
}

button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 7rem;
  height: 2rem;
  color: rgba(20, 20, 20, 0.8);
  background-color: rgba(20, 20, 20, 0.8);
  font-size: inherit;
}

/* Responsive for 1024px */

@media screen and (max-width: 1024px) {
  .form {
    width: 100vw;
    height: 100vh;
  }
  .microsoft-icons {
    width: 3rem;
    grid-template-columns: 1rem 1.5rem;
    row-gap: 0.12rem;
    column-gap: 0.25rem;
    margin-bottom: 4.3rem;
  }
  .microsoft-icons * {
    width: 1rem;
    height: 1rem;
  }
  input {
    width: 75%;
  }
  .line {
    width: 75%;
  }
  .menu {
    width: 3rem;
    height: 3rem;
  }
  .lines {
    width: 2rem;
    height: 0.25rem;
  }
  #menu:hover #linesec {
    transform: rotate(45deg) translate(0px, -12px);
  }
  #menu:hover #lineone {
    transform: rotate(-45deg) translate(-10px, -2px);
  }
  .btn {
    background: 1px solid linear-gradient();
  }
}

/* Rasponsiv for 375px */

@media screen and (max-width: 375px) {
  .form {
    width: 100vw;
    height: 100vh;
  }
  #microsoft {
    margin-top: 0.2rem;
  }
  .microsoft-icons {
    width: 2rem;
    grid-template-columns: 0.3rem 0.3rem;
    row-gap: 0.12rem;
    column-gap: 0.6rem;
    margin: 0.2rem 0 4rem 0;
  }
  .microsoft-word {
    font-size: 0.9rem;
  }
  .microsoft-icons * {
    width: 0.7rem;
    height: 0.7rem;
  }
  .lines {
    height: 0.2rem;
  }
  #menu {
    margin-top: 0;
    width: 2.5rem;
    height: 2.5rem;
  }
  #menu:hover #lineone {
    transform: translate(0px, 0px);
    width: 1.5rem;
    height: 0.12rem;
    background-color: rgb(238, 212, 95);
    box-shadow: 0 8px rgba(255, 86, 19, 0.555);
  }
  #menu:hover #linesec {
    transform: translate(0px, 2px);
    width: 1.5rem;
    height: 0.12rem;
    box-shadow: none;
    background-color: rgb(238, 212, 95);
  }
}

/*
Hamburger #
.menu:hover .lines.one {
  transform: rotate(45deg) translate(6px, 0);
  width: 1.5rem;
  height: 0.12rem;
}
.menu:hover .lines.sec {
  transform: rotate(-45deg) translate(6px, -8px);
  width: 1.5rem;
  height: 0.12rem;
}*/
